<div class="col-12 mt-0 left">
    <div class="row">

        {% for review in review_list %}
        <div class="col-md-6 offset-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <!-- <div class="image-container">
                        <img class="card-img-top" src="" alt="-------------------------">
                        <div class="image-flash">
                            <p class="gamer">User: {{ review.user }}</p>
                        </div>
                    </div> -->
                    
                    <!-- Displays all relevant review info within the card -->
                    <h2 class="card-title">{{ review.title }}</h2>
                    <a href="{% url 'review_detail' review.pk review.title  %}" class="review-link">    
                    <h2 class="card-title-black">{{ review.user }}</h2>
                    </a>    
                    <br>
                    <hr>
                    <div class="card-text">{{ review.created_on}}
                    </div>
                </div>
            </div>
        </div>

        {% if forloop.counter|divisibleby:3 %}
        
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>

{% if is_paginated %}

<!-- pagination for users to go back and forth between pages in review list -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}

        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}
        
    </ul>
</nav>

{% endif %}

</div>

{% endblock %}