{% extends "base.html" %} 
{% load static %}

{% block content %}

<div class="container-fluid p-5">

    {% if is_paginated %}

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center pt-5">

                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}

                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            
            </ul>
        </nav>

    {% endif %}

    <div class="row">

        {% for review in review_list %}
        <div class="col-md-6 offset-md-3 mt-2 pt-5">
            <div class="card text-center">
                <div class="review-card text-white">    
                    <h3 class="text-black pt-3 pb-0">User: {{ review.user }}</h3>
                    <hr class="hr-white">
                    <h2 class="text-black">Record: {{ review.title }}</h2>
                    <h2 class="text-black">Label: (Need to Add . . .){{ products.label.label }}</h2>
                        <span class="span-review text-black">Review Title: </span>
                        <a href="{% url 'review_detail' review.pk review.title %}" class="review-link">    
                        <span class="span-review"> {{ review.subject }}</span>
                        </a>    
                    <br>
                    <hr class="hr-white">
                    <div class="text-black pb-3">{{ review.created_on}}
                    </div>
                </div>
            </div>
        </div>
    </div>

        {% if forloop.counter|divisibleby:3 %}  

    <div class="row">
        {% endif %}
        {% endfor %}
    </div>

    {% if is_paginated %}

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center p-5">

            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}

            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
            
        </ul>
    </nav>

    {% endif %}

</div>

{% endblock %}