{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid">

</div>

<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-md-6 offset-md-3">
            <h1>{{ review.title }}</h1>
            <hr>
            <h2>{{ review.artist }}</h2>
            <h2>{{ review.label }}</h2>
            <p>{{ review.user }} | {{ review.created_on }}</p>
        </div>
    </div>
</div>

<div class="container-fluid-home">
    <div class="card-row">
        <div class="review-content">
            <div class="card-body">
                <!-- The | safe filter is used inside the template tags -->
                <div class="review-text">
                    <p class="card-text">
                        {{ review.content | safe }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}