{% extends "base.html" %}
{% load static %}

<!-- Home Page Title -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

<!-- scrolling banner to display current details -->
{% block content %}
    <div class="container-fluid my-auto">
        <div class="row">
            <div class="col-12 md-6 p-3 text-white" id="scroll-container">
                <h4 class="m-0 py-1 text-nowrap" id="scroll">
                    [<strong>20%</strong><span id="banner-text"> off all Vinyl on the Glitterbox Label<strong>]</strong></span> 
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    [<strong>20%</strong><span id="banner-text"> off all Vinyl on the Glitterbox Label<strong>]</strong></span>
                </h4>
            </div>
            <div> 
                <h1 class="home-header text-center col-12">
                    House Vinyl Ireland
                </h1>
                <p class="home-text text-white col-12">
                    Welcome to House Vinyl Ireland. We are a brand new site that sells the very best and most current house 
                    records that are available on vinyl release. Our aim is to become the most reliable and up to date online
                    retailer for house vinyl records in Ireland.We have records avaiable from some of the best labels putting 
                    out great vinyl - Defected, Faith, Glitterbox, NuGrove, Soulfuric and Yoruba.<i>We hope to 
                    have even more labels and records available for you in the very future.</i>
                </p>
            </div>

            <!-- Vinyl Image on left of screen -->
            <div class="image-container home-image col-lg-5 offset-1 mr-1">
            </div>

            <!-- Social Media Image on left of screen -->
            <div class="image-container social-image col-lg-5">
                <div class="p-3 text-black social-links mt-5">Follow Us:<br>

                    <!-- Social Media Links -->
                    <ul>
                        <li class="p-1 text-black social-links">Facebook: <a href="https://www.facebook.com" 
                            target="_blank" rel="noopener nofollow" aria-label="Visit our Facebook page (opens in a new tab)">
                            <i class="fab fa-facebook-square ms-3"></i>
                            </a>
                        </li>
                        <li class="p-1 text-black social-links">Twitter: <a href="https://www.twitter.com" 
                            target="_blank" rel="noopener nofollow" aria-label="Visit our Twitter page (opens in a new tab)">
                            <i class="fab fa-twitter-square ms-3"></i>
                            </a>
                        </li>
                        <li class="p-1 text-black social-links">YouTube: <a href="https://www.youtube.com" 
                            target="_blank" rel="noopener nofollow" aria-label="Visit our YouTube page (opens in a new tab)">
                            <i class="fab fa-youtube ms-3"></i>
                            </a>
                        </li>
                        <li class="p-1 text-black social-links">Instagram: <a href="https://www.instagram.com" 
                            target="_blank" rel="noopener nofollow" aria-label="Visit our Instagram page (opens in a new tab)">
                            <i class="fab fa-instagram ms-3"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}