@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

html {
    height: 100%;
}

body {
    font-family: 'Squada One', sans-serif;
    font-size: 20px;
    /* letter-spacing: 0.5px;
    text-transform: none; */
    /* background: rgba(0, 0, 0, 0.874); */
    background: rgb(76, 75, 75);
    height: calc(100vh - 164px);
    margin: 0;
    padding: 0;
}

#main-nav {
    background-color: rgb(170, 222, 121);
}

.nav-item {
    text-transform: uppercase;
}

.span-nav {
    font-size: 20px;
    justify-content: center;
}

.header-container {
    margin-top: -2.45%;
}

.card {
    background: rgb(76, 75, 75);
}

.review-card {
    background-color: #f5d9a7;
    border-radius: 25px;
    border: 4px solid rgb(170, 222, 121);
}

.review-link {
    font-size: 30px;
}

.span-review {
    font-size: 30px;
}

/* https://stackoverflow.com/questions/6382023/changing-the-color-of-an-hr-element */
.hr-white { 
    display: block; height: 1px;
    border: 0; border-top: 4px groove #ccc;
    margin: 1em 0; padding: 0; 
}

/* https://stackoverflow.com/questions/13426875/text-border-using-css-border-around-text */
.home-image {
    background: url("/static/images/home-header-vinyl-4.jpg") no-repeat center center;
    background-size: cover;
    height: 52vh;
    border-radius: 25px;
    /* border: 4px solid #5590d4; */
    border: 4px solid #f6a312;
}

.home-header {
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    /* color: #7ea8d8;  */
    /* color: #5590d4; */
    color: #96b50c;
    /* color: #20c107; */
    border-top: groove 5px #f6a312;
}

.home-text {
    margin: 0 2% 1% 2%;
    font-variant:initial;
}

.bg-info {
    background-color: white !important;

    border-top: #000 3px solid;
    /* border-top-left-radius: 50px;
    border-top-right-radius: 50px; */
    
    border-bottom: #000 3px solid;
    /* border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px; */

    margin-top: 0;
}

#banner-text {
    font-variant: small-caps;
    font-size: 30px;
    font-family: 'Squada One', sans-serif;
}

/* .info-banner {
    background-color: black !important;
    width: 200%;
    background-size:200%;
} */

/* #topnav {
    background-color: #5590d4; 
    background-color: #96b50c; 
    background-color: #6cd45c;;
    justify-content: center;
    border-bottom: #000 3px solid; 
} 
*/

#scroll-container {
    background-size:200%;
    overflow: hidden;
    width: 100%;
    margin-top: 0.75%;
}

#scroll {
    animation: slide 45s linear infinite;
    -webkit-animation: slide 45s linear infinite;
    -moz-animation: slide 45s linear infinite;
    animation-delay: -10s;
}

@keyframes slide {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-105%);
    }
}

/* from Bulma */
.icon {
    align-items: center;
    display: block;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/* https://stackoverflow.com/questions/57660097/horizontally-and-vertically-center-a-font-awesome-icon-over-an-image */
.bag {
    color: black;
    font-size: 10vw;
    top: 20%;
    left: 20%;
    transform: translate(-60%, -60%);
    -ms-transform: translate(-60%, -60%);
    text-align: center;
  }

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* https://codepen.io/michellymelo/pen/xMOEpR */
.borderBlink{    
    border:3px solid black;

    animation-name: borderBlink;
    animation-duration: 1s;
    animation-iteration-count: 3;
    /* add 'border-color: transparent' if you wish no border to show initially */  
}

@keyframes borderBlink {
    50% {
      border-color: #ffcd5f;
    }
  }

/* https://stackoverflow.com/questions/23635271/how-to-make-an-elements-border-flash */
.borderBlink:hover {    
    -webkit-animation: borderBlink 1s step-end infinite;    
    animation: borderBlink 1s step-end infinite;   
    -webkit-animation: borderBlink 1s step-end infinite;    
    animation-timing-function: borderBlink 0s;     
}

@-webkit-keyframes borderBlink {    
    from, to {    
        border-color: transparent;    
    }    
    50% {    
        border-color: goldenrod;    
    }    
}    
@keyframes borderBlink {    
    from, to {    
        border-color: transparent;    
    }    
    50% {    
        border-color: bisque;    
    }    
} 

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}