@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@500&family=Poppins:wght@300&family=Roboto+Condensed:wght@300&display=swap');

html {
    height: 100%;
}

body {
    font-family: Oswald, sans-serif;
    /* background-color: rgb(237, 224, 207); */
    background: rgb(238, 231, 221);
    height: calc(100vh - 164px);
    margin: 0;
    padding: 0;
}

.white-space {
    background-color: white;
}

.header-container {
    margin-top: -2.45%;
}

#topnav {
    background-color: #7ea8d8;
    justify-content: center;
    border-bottom: #000 3px solid;
}

.p-top {
    font-size: 19px;
    font-weight: 900;
    padding-top: -20%;
    justify-content: center;
}

/* https://stackoverflow.com/questions/13426875/text-border-using-css-border-around-text */
.home-header {
    background: url("/static/images/home-header-vinyl-5.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 20vh;
    padding: 3%;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 0.020%;
    color: #7ea8d8;
    border-radius: 25px;
    border: 3px solid black;
}

.bg-info {
    background-color: white !important;

    border-top: #000 3px solid;
    /* border-top-left-radius: 50px;
    border-top-right-radius: 50px; */
    
    border-bottom: #000 3px solid;
    /* border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px; */

    margin-top: 0;
}

#banner-text {
    font-variant: small-caps;
    font-family: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@500&family=Poppins:wght@300&family=Roboto+Condensed:wght@300&display=swap');
}

.info-banner {
    background-color: white !important;
    width: 200%;
    background-size:200%;
}

#scroll-container {
    /* overflow: hidden; */
    background-size:200%;
    position: relative;
    width: 220vmin;
}

#scroll {
    animation: slide 45s linear infinite;
    -webkit-animation: slide 45s linear infinite;
    -moz-animation: slide 45s linear infinite;
    animation-delay: -10s;
}

@keyframes slide {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-105%);
    }
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgb(238, 231, 221);
	z-index: -1;
}

/* from Bulma */
.icon {
    align-items: center;
    display: block;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/* https://stackoverflow.com/questions/57660097/horizontally-and-vertically-center-a-font-awesome-icon-over-an-image */
.bag {
    color: black;
    font-size: 10vw;
    top: 20%;
    left: 20%;
    transform: translate(-60%, -60%);
    -ms-transform: translate(-60%, -60%);
    text-align: center;
  }

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.nav-font {
    font-size: 20px;
}

/* https://codepen.io/michellymelo/pen/xMOEpR */
.borderBlink{    
    border:3px solid black;

    animation-name: borderBlink;
    animation-duration: 1s;
    animation-iteration-count: 3;
    /* add 'border-color: transparent' if you wish no border to show initially */  
}

@keyframes borderBlink {
    50% {
      border-color: #ffcd5f;
    }
  }

/* https://stackoverflow.com/questions/23635271/how-to-make-an-elements-border-flash */
.borderBlink:hover {    
    -webkit-animation: borderBlink 1s step-end infinite;    
    animation: borderBlink 1s step-end infinite;   
    -webkit-animation: borderBlink 1s step-end infinite;    
    animation-timing-function: borderBlink 0s;     
}

@-webkit-keyframes borderBlink {    
    from, to {    
        border-color: transparent;    
    }    
    50% {    
        border-color: goldenrod;    
    }    
}    
@keyframes borderBlink {    
    from, to {    
        border-color: transparent;    
    }    
    50% {    
        border-color: bisque;    
    }    
} 

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.basket-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}