@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@500&family=Poppins:wght@300&family=Roboto+Condensed:wght@300&display=swap');

html {
    height: 100%;
}

body {
    font-family: Oswald, sans-serif;
    background-color: rgb(237, 224, 207);
    height: calc(100vh - 164px);
    margin: 0;
    padding: 0;
}

.white-space {
    background-color: white;
}

.header-container {
    margin-top: -2.45%;
}

#topnav {
    background-color: #7ea8d8;
}

.home-header {
    background: url("/static/images/home-header-vinyl-5.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 20vh;
    padding: 3%;
    font-weight: 900;
    text-align: center;
    margin: 0;
    color: #7ea8d8;
    border-radius: 25px;
    border: 3px solid black;
}

.bg-info {
    background-color: white !important;

    border-top: #000 3px solid;
    /* border-top-left-radius: 50px;
    border-top-right-radius: 50px; */
    
    border-bottom: #000 3px solid;
    /* border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px; */

    margin-top: 0.02%;
}

#banner-text {
    font-variant: small-caps;
    font-family: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@500&family=Poppins:wght@300&family=Roboto+Condensed:wght@300&display=swap');
}

.info-banner {
    background-color: white !important;
    width: 200%;
    background-size:200%;
}

#scroll-container {
    /* overflow: hidden; */
    background-size:200%;
    position: relative;
    width: 220vmin;
}

#scroll {
    animation: slide 45s linear infinite;
    -webkit-animation: slide 45s linear infinite;
    -moz-animation: slide 45s linear infinite;
    animation-delay: -10s;
}

@keyframes slide {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-105%);
    }
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.nav-font {
    font-size: 20px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}