<div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-5">

        <!-- Links available to all visitors -->
        <li class="nav-item">
            {% block searchbar %}
            {% include 'includes/searchbar.html' %}
            {% endblock %}
        </li>
        <li class="nav-item">
            <a class="nav-link text-black font-weight-bold" href="{% url 'home' %}" aria-label="link to home page">
            <span class="span-nav">Home</span></a> 
        </li>
        <li class="nav-item">
            <a class="nav-link text-black font-weight-bold" href="{% url 'products' %}" aria-label="link to records page">
            <span class="span-nav">All Vinyl</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-black font-weight-bold" href="{% url 'products' %}" aria-label="link to records page"
            id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="span-nav">Browse Label</span></a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?label=Defected" class="dropdown-item">Defected</a>
                <a href="{% url 'products' %}?label=Faith" class="dropdown-item">Faith</a>
                <a href="{% url 'products' %}?label=Glitterbox" class="dropdown-item">Glitterbox</a>
                <a href="{% url 'products' %}?label=NuGroove" class="dropdown-item">NuGroove</a>
                <a href="{% url 'products' %}?label=Soulfuric" class="dropdown-item">Soulfuric</a>
                <a href="{% url 'products' %}?label=Yoruba" class="dropdown-item">Yoruba</a>
            </div>
        </li>
        
        <!-- Links are shown only to authenticated user -->
        <li class="nav-item dropdown">
            <a class="nav-link text-black font-weight-bold" href="#" aria-label="link to reviews page"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="span-nav">Record Reviews</span></a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                <a href="{% url 'posted_review' %}" class="dropdown-item">Posted Reviews</a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'create_review' %}" class="dropdown-item">Create a Review</a> 
                {% endif %}
            </div>
        </li>

        <!-- Shown only for admin users -->
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link text-black font-weight-bold" href="{% url 'add_product' %}" aria-label="link to add product page">
                <span class="span-nav">Store Management</span></a>
            </li>
            {% endif %}
        <li class="nav-item">
            <a class="nav-link text-black font-weight-bold" href="{% url 'account_logout' %}" aria-label="link to sign out">
            <span class="span-nav">Sign Out</span></a>        
        </li>

        <!-- Links shown if user is not signed in -->
        {% else %}
        <li class="nav-item">
            <a class="nav-link text-black font-weight-bold" href="{% url 'account_login' %}" aria-label="link to sign in page">
            <span class="span-nav">Sign In</span></a>
            
        </li>
        <li class="nav-item">
            <a class="nav-link text-black font-weight-bold" href="{% url 'account_signup' %}" aria-label="link to sign up page">
            <span class="span-nav">Register</span></a>
        </li>
        {% endif %}

        <!-- Contact link available to all visitors -->
        <li class="nav-item mr-5">
            <a class="nav-link text-black font-weight-bold" href="{% url 'contact' %}" aria-label="link to contact us page">
            <span class="span-nav">Contact Us</span></a>
        </li>
        <li class="list-inline-item dropdown">
            <a class="nav-link text-black font-weight-bold" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-user fa-lg mt-1 mb-1"></i></div>
                    <span class="span-nav">My Account</span>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'add_product' %}" class="dropdown-item">Store Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
        <li class="borderBlink nav-item {% if grand_total %} text-white bg-dark {% else %} text-black {% endif %}">
            <a class="{% if grand_total %} text-white bg-dark {% else %}text-black{% endif %} nav-link" 
                href="{% url 'view_basket' %}">
                <div class="text-center"><i class="fas fa-shopping-bag fa-lg"></i>
                    <span class="span-nav">
                        {% if grand_total %}
                            €{{ grand_total|floatformat:2 }}
                        {% else %}
                            €0.00
                        {% endif %}
                    </span>
                </div>
            </a>
        </li>
    </ul>
</div>