<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        
        <li class="nav-item nav-font">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" aria-haspopup="true" aria-expanded="false" 
                href="{% url 'home' %}">
                Home
            </a>
        </li>

        <li class="nav-item nav-font">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" aria-haspopup="true" aria-expanded="false" 
                href="{% url 'products' %}">
                All Vinyl
            </a>
        </li>

        <li class="nav-item dropdown nav-font">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="all-products-link" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Browse Label
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Kaoz</a>
                <a href="" class="dropdown-item ">Faith</a>
                <a href="" class="dropdown-item ">Glitterbox</a>
                <a href="" class="dropdown-item ">NuGroove</a>
            </div>
        </li>
    
        <li class="nav-item nav-font">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" aria-haspopup="true" 
                aria-expanded="false" href="">Contact Us</a>
        </li>

    </ul>
</div>