{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form class="form" action="{% url 'add_to_basket' record.id %}" method="POST">
            {% csrf_token %}
            <div class="container d-flex form-group mb-0 mt-2">
                <div class="col-4">
                    <p class="mt-3 ml-4 text-white text-uppercase">Quantity:</p>
                    <div class="form-group w-50">
                        <div class="input-group">
                            <div class="input-group-prepend ml-1">
                                <button class="decrement-qty btn btn-black rounded-0" 
                                    data-item_id="{{ record.id }}" id="decrement-qty_{{ record.id }}">
                                    <span class="icon text-white">
                                        <i class="fas fa-minus"></i>
                                    </span>
                                </button>
                            </div>
                            <input class="form-control qty_input" type="number" name="quantity" value="1" 
                                min="1" max="99" data-item_id="{{ record.id }}" id="id_qty_{{ record.id }}">
                            <div class="input-group-append mr-4">
                                <button class="increment-qty btn btn-black rounded-0"
                                    data-item_id="{{ record.id }}" id="increment-qty_{{ record.id }}">
                                    <span class="icon text-white">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 ml-5 mt-5">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                    <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5 font-weight-normal text-white" 
                        value="Add to Basket">
                </div>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                <div class="col-4">
                    {% if request.user.is_superuser %}
                        <article class="mt-5 ml-5 border text-center">
                            <a href="{% url 'edit_product' record.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'delete_product' record.id %}">Delete</a>
                        </article>
                    {% endif %}
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="image-container my-5 shadow p-3 mb-2 bg-light rounded">
                    {% if record.image %}
                        <a href="{{ record.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ record.image.url }}" alt="{{ record.title}}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ record.title }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5 shadow p-3 mb-2 rounded bg-light">
                    <hr>
                    <p class="mb-0 fs-1 text-uppercase font-weight-bold">{{ record.artist }} | {{ record.title }}</p>
                    <hr>
                    <p class="mb-0 fs-1 text-uppercase font-weight-bold">LABEL: {{ record.label.friendly_name }}</p>
                    <hr>
                    <p class="lead mb-0 text-left font-weight-bold">PRICE: €{{ record.price }}</p>
                    <hr>
                    <p class="mt-3 font-weight-bold">RECORD INFO: <br>{{ record.description }}</p>   
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class = "product-details-container my-5 shadow p-3 mb-2 bg-light rounded">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"><p class="mb-0 fs-1 text-uppercase">Track List</p></th>
                            </tr>
                        <tbody>
                            <tr>
                                <th scope="row"><p class="mt-3">1. {{ record.track_list_1 }}</p></th>
                            </tr>
                            <tr>
                                <th scope="row"><p class="mt-3">2. {{ record.track_list_2 }}</p></th>
                            </tr>
                            <tr>
                                <th scope="row"><p class="mt-3">3. {{ record.track_list_3 }}</p></th>
                            </tr>
                            <tr>
                                <th scope="row"><p class="mt-3">4. {{ record.track_list_4 }}</p></th>
                            </tr>
                            <tr>
                                <th scope="row"><p class="mt-3">5. {{ record.track_list_5 }}</p></th>
                            </tr>
                            <tr>
                                <th scope="row"><p class="mt-3">6. {{ record.track_list_6 }}</p></th>
                            </tr>
                            <tr>
                                <th scope="row"><p class="mt-3">7. {{ record.track_list_7 }}</p></th>
                            </tr>
                        </tbody>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}